.slider {
    /* width: 100%; */
 max-width: 100%;
 /* height: 300px; */
 margin: 0px auto;
 overflow: hidden;
 position: relative;

}
.slider-prev {
position: absolute;
left: 0%;
top: 50%;
transform: translateY(-50%);
background-color: transparent;
border: none;
color: inherit;
cursor: pointer;
font-size: inherit;
padding: 80px;

}

.slider-next {
right: 0%;
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: transparent;
border: none;
color: inherit;
cursor: pointer;
font-size: inherit;
padding: 80px;

}


.slider-line {
 width: 1024px;
 display: flex;
 background: rgb(0, 0, 0);
 position: relative;
 left: 0;
 transition: all ease 1s;
}
body{ 
 background-color: #000000;
}


header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #0f0f0d;
     font-family: 'Ubuntu Condensed';
     font-style: normal;
     
     
   }
   
   .logo {
     display: flex;
     align-items: center;
   }
   
   .logo img {
     width: 50px;
     height: 50px;
   }
   
   .logo p {
     margin-left: 10px;
     font-size: 32px;
   }
   
   nav ul {
     display: flex;
     list-style: none;
   }
   
   nav li {
     margin-right: 20px;
     font-size: 20px;
   }
   
   nav a {
     text-decoration: none;
     color: #E0bb76;
   }
   
   nav a:hover {
     color: #666;
   }
  
   @media (max-width: 768px) {
     header {
       width: 100%;
       height: 20%;
      
     }
   }
 header a {
     text-decoration: none;
 color: #E0bb76;}

p  {
 color: #325434;
 font-family: 'Ubuntu Condensed';
     font-style: normal;
}
 h2 {
 color: #E0bb76;
 font-family: 'Ubuntu Condensed';
     font-style: normal;
}

.container {
 display: flex;
 justify-content: center;
 align-items: center;
 max-width: 80%;
 margin: 40px auto;
 flex-wrap: wrap;
 /* margin: 0 10%; */
}

.image {
 flex: 1;
 text-align: center;
}

.text {
 flex: 1;
 padding: 20px;
}

@media (max-width: 760px) {
 .container {
   flex-direction: column;
 }
 
 .text {
   padding-left: 0;
   margin-top: 20px;
 }

}

.container1 {
 display: flex;
 justify-content: center;
 align-items: center;
 max-width: 80%;
 margin: 40px auto;
 flex-wrap: wrap;
 /* margin: 0 10%; */
}

.image1 {
 flex: 1;
 text-align: center;
}

.text1 {
 flex: 1;
 padding: 20px;
}

@media (max-width: 768px) {
 .container1 {
   flex-direction: column;
 }
 
 .text1 {
   padding-left: 0;
   margin-top: 20px;
 }

}


.cont {
 display: flex;
 justify-content: center;
}

 .cont a {
   margin: 20px;}




   footer {
     background-color: #0f0f0d;
     padding: 20px 0;
   }
   .contfoot {
     display: flex;
     justify-content: center;
     align-items: center;
     
   }
 .footer-row {
   display: flex;
     justify-content: center;
     align-items: center;
     color: #666;
 }









